@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --color-lyw: #e1e1cc;
  --color-dlyw: #d9d9bf;
  --color-hyw: #80804d;
  --icon-text: #fdfde0;
  --icon-bg: #686840;
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
}

body {
  font-family: var(--font-noto-sans-TC), 'Times New Roman', Times, serif;
}

@layer components {
  .content-card {
    @apply hover:cursor-pointer; 
  }
  .content-card h2 {
    @apply text-3xl font-semibold mb-6;
  }
  .dev-tools .dev-section h2 {
    @apply text-3xl;
  }
}
@layer utilities {
  .content-card.content-card-current {
    @apply max-h-none overflow-auto hover:cursor-auto shadow-2xl;
  }
  .bible-verse-id {
    @apply align-text-top text-sm font-light opacity-80 select-none;
  }
  .bible-verse {
    @apply font-noto-serif-TC text-2xl text-gray-800 leading-loose;
  }
  .bible-verse h2 {
    @apply font-semibold;
  }
  .bible-verse h2 span.bible-version {
    @apply ml-2;
  }
}

/* Quill Editor CSS */
.ql-editor {
  @apply text-2xl font-klee-one;
}

.ql-editor h1, h2, h3 {
  @apply font-bold;
}
