@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --color-lyw: #e1e1cc;
  --color-dlyw: #d9d9bf;
  --color-hyw: #80804d;
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
}

body {
  font-family: var(--font-noto-sans-TC), 'Times New Roman', Times, serif;
}
